* {
  margin: 0px auto;
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilory Light";
  src: url("../fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilory ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}
body {
  font-family: "Gilory Light", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #006cfa;
}
a:hover {
  color: #006cfa;
}
ul li {
  list-style: none;
  margin-bottom: 5px;
}
h1,
h3 {
  font-family: "Gilory ExtraBold";
}
button {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #21a371;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* NAV */
.navbar .container-fluid {
  background-color: rgb(175, 56, 56);
  /* position: fixed; */
  top: 0;
  height: 60px;
  background-color: #7d828a;
  width: 70%;
}
.navbar-nav {
  /* float: right; */
  background-color: rgb(168, 107, 26);
}
/* .navbar-white {
    background-color: white;
    box-shadow: 0px 0px 7px #777;
    transition: 0.4s ease-out;
  } */
.navbar-nav .nav-item {
  border-bottom: 4px solid transparent;
  margin-right: 25px;
}
.navbar-nav .nav-item:hover:not(:first-child) {
  border-bottom: 4px solid black;
}

/* PRICING CARDS */
.pricing {
  background-image: linear-gradient(135deg, #4c46f4, #0081fa),
    linear-gradient(90deg, #4669f4, #469af4);
  height: 1600px;
}
.pricing-text {
  height: 70px;
  text-align: center;
  font-size: 54px;
  color: #fff;
  line-height: 70px;
}
.cards {
  text-align: center;
}
.pricing-pCards__container {
  height: 905px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.vertical-split {
  margin: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(119, 132, 140, 0.33);
}
.pCard {
  padding: 50px 25px;
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 1px 0 25px 5px rgba(40, 43, 49, 0.12);
  text-align: center;
  border-left: 1px solid transparent;
}

.pCard-text {
  height: 490px;
  padding: 0 45px;
  margin-bottom: 50px;
  /* background-color: violet; */
}

.card-text-bottom {
  /* background-color: turquoise; */
  height: 280px;
}
.card-text-bottom button {
  height: 52px;
  width: 222px;
  margin-top: 30px;
}
.pCard .pCard-body h2 {
  font-size: 54px;
  color: #006cfa;
  line-height: 70px;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 8px;
}

.pCard .pCard-body p {
  color: rgba(44, 54, 65, 0.8);
  font-size: 14px;
}
.enterprisePricing {
  margin-top: 30px;
}
.enterprisePricing__container {
  width: 100%;

  height: 194px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  color: #0f76f9;
}
.enterprise-dark-text {
  background-image: url("../images/enterprise-back.png");
  background-color: transparent;
  padding: 16px 30px 64px;
  background-size: cover;
  color: #fff;
  background-position: 50% 50%;
  width: 30%;
  float: left;
}

.features {
  width: 60%;
  height: 100%;
  column-count: 2;
  padding: 50px 20px;
  background-color: #fff;
}
.lets-talk {
  width: 30%;
}
.lets-talk__container {
  border-left: 1px solid #333;
  padding: 30px 0 16px 130px;
  margin: 34px 0;
}

/* FAQ */
.questions {
  height: max-content;
  background-color: rgb(207, 207, 207);
  color: #333;
  padding: 130px 0;
}
.questions-text {
  text-align: center;
  background-color: rgb(207, 207, 207);
  margin-bottom: 40px;
  font-family: "Gilory ExtraBold";
}
.questiona-text h2 {
  font-size: 36px;
  line-height: 48px;
}
.questions__container {
  height: max-content;
  padding: 40px;
  background-color: #fff;
}

.container {
  padding: 0px;
}

.faq-drawer {
  margin-bottom: 30px;
  background-color: seashell;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  border-bottom: #000 1px solid;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 80px;
  }
}

/* take it for a spin */
.spin {
  height: 489px;
  background-image: linear-gradient(135deg, #4c46f4, #006cfa);
  color: #fff;
  margin-bottom: 50px;
}
.spin__container {
  width: 500px;
  text-align: center;
  padding: 128px 0;
}

.spin__container h5,
.spin__container button {
  margin-bottom: 40px;
}
.spin__container button {
  height: 52px;
  width: 215px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.spin__container a {
  text-decoration: underline;
  color: #fff;
}
/* Footer */

.footer .logo img {
  margin-bottom: 30px;
  height: 100px;
}
.footer .logo p {
  color: #707070;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
ul li > i {
  font-size: 24px;
  color: #707070;
  margin-right: 15px;
}
