* {
  margin: 0px auto;
  box-sizing: border-box; }

@font-face {
  font-family: "Gilory-Light";
  src: url("../fonts/Gilroy-Light.ttf"); }
@font-face {
  font-family: "Gilory-Medium";
  src: url("../fonts/Gilroy-Medium.ttf"); }
@font-face {
  font-family: "Gilory-Regular";
  src: url("../fonts/Gilroy-Regular.ttf"); }
@font-face {
  font-family: "Gilory-Bold";
  src: url("../fonts/Gilroy-Bold.ttf"); }
@font-face {
  font-family: "Gilory-Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf"); }
body {
  font-family: "Gilory-Regular", sans-serif;
  font-size: 16px;
  text-align: center; }

section {
  padding: 50px 0 25px; }

h1,
h2,
h3 {
  font-family: "Gilory-Bold"; }

a {
  color: #25c286;
  font-size: 1.2rem;
  font-weight: 600; }
  a:hover {
    color: #25c286; }

p {
  color: #2c3641;
  font-size: 16px;
  line-height: 26px; }

ul li {
  list-style: none;
  margin-bottom: 5px; }

.management .title__container, .management-lookUps .title__container .title__container, .management-manageTeam .title__container, .management-track .title__container, .management-insights .title__container, .management-integration .title__container, .managemnt-transition .title__container, .index-trust .video__container .title__container .title__container {
  margin-bottom: 125px;
  text-align: center; }
  .management .title__container h1, .management-lookUps .title__container .title__container h1, .management-manageTeam .title__container h1, .management-track .title__container h1, .management-insights .title__container h1, .management-integration .title__container h1, .managemnt-transition .title__container h1, .index-trust .video__container .title__container .title__container h1 {
    font-size: 54px; }
  .management .title__container p, .management-lookUps .title__container .title__container p, .management-manageTeam .title__container p, .management-track .title__container p, .management-insights .title__container p, .management-integration .title__container p, .managemnt-transition .title__container p, .index-trust .video__container .title__container .title__container p {
    font-size: 18px; }
  .management .title__container .split-divider, .management-lookUps .title__container .title__container .split-divider, .management-manageTeam .title__container .split-divider, .management-track .title__container .split-divider, .management-insights .title__container .split-divider, .management-integration .title__container .split-divider, .managemnt-transition .title__container .split-divider, .index-trust .video__container .title__container .title__container .split-divider {
    display: block;
    width: 48px;
    height: 4px;
    margin: 15px auto 60px;
    background-color: #0f76f9; }

.main-header {
  position: relative;
  background: linear-gradient(135deg, #4c46f4, #0081fa), linear-gradient(90deg, #4669f4, #469af4); }
  .main-header .nav-trigger__wrapper {
    position: fixed;
    top: 0;
    z-index: 2;
    transition: transform 0.4s;
    width: 100%; }
    .main-header .nav-trigger__wrapper nav {
      padding: 20px 0 10px;
      display: flex;
      color: black; }
      .main-header .nav-trigger__wrapper nav .links__container {
        margin-right: 50px; }
        .main-header .nav-trigger__wrapper nav .links__container .nav-link {
          margin-left: 15px;
          padding: 13px;
          color: #fff;
          border-bottom: 4px solid transparent; }
        .main-header .nav-trigger__wrapper nav .links__container .bottomed:hover {
          border-bottom: 4px solid #fff; }
        .main-header .nav-trigger__wrapper nav .links__container .dropdown-menu .dropdown-item:active .activated {
          color: #f48646;
          background-color: #fff; }
        .main-header .nav-trigger__wrapper nav .links__container .dropdown-menu .dropdown-item i {
          margin: auto 10px auto 2px; }
        .main-header .nav-trigger__wrapper nav .links__container .dropdown-menu .dropdown-item .fa-th-large {
          color: #4669f4; }
        .main-header .nav-trigger__wrapper nav .links__container .dropdown-menu .dropdown-item .fa-dollar-sign {
          color: lightgreen; }
      .main-header .nav-trigger__wrapper nav .navbar-brand {
        margin-left: 50px; }
      .main-header .nav-trigger__wrapper nav .main-button {
        padding: 16px 32px;
        border-radius: 5px;
        background-color: #21a371;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-color: transparent;
        margin-top: 4px; }

.scroll-down .nav-trigger__wrapper {
  transform: translate3d(0, -100%, 0); }

.scroll-up .main-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
  .scroll-up .main-header .nav-trigger__wrapper {
    background-color: #fff;
    transform: none; }
    .scroll-up .main-header .nav-trigger__wrapper .links__container .nav-link {
      color: black; }

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    margin-top: 0; }
  .navbar .nav-item:hover .dropdown-menu {
    display: block; } }
.main-banner {
  position: relative;
  display: block;
  overflow: visible;
  min-height: 550px;
  background-image: url("../images/hieve.png"), linear-gradient(135deg, #4c46f4, #0081fa), linear-gradient(90deg, #4669f4, #469af4);
  background-position: 74% 73%, 0 0, 0 0;
  background-size: 327px, auto, auto;
  background-repeat: no-repeat, repeat, repeat; }
  .main-banner .text__wrapper {
    margin-top: 160px;
    padding: 80px 0; }

/* Get Started */
.get-quickly {
  background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  margin-bottom: 150px;
  height: 498px;
  padding: 125px 0; }
  .get-quickly .text__container {
    height: 138px;
    text-align: center; }
    .get-quickly .text__container div {
      padding: 30px 20px;
      color: #fff; }
      .get-quickly .text__container div h2 {
        font-size: 36px; }
    .get-quickly .text__container .main-button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent;
      margin: 36px auto; }
    .get-quickly .text__container p:last-child {
      color: #c2deff; }
      .get-quickly .text__container p:last-child a {
        color: #c2deff; }

.getStarted {
  background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  margin-bottom: 150px;
  height: 360px;
  padding: 100px 0; }
  .getStarted .text__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 138px;
    text-align: left; }
    .getStarted .text__container .logo .logo-text {
      display: inline-block;
      padding: 30px 20px;
      color: #fff; }
      .getStarted .text__container .logo .logo-text p:last-child {
        color: #c2deff; }
    .getStarted .text__container .logo img {
      height: 100%;
      margin-bottom: 40px; }
    .getStarted .text__container .btns__container .main-button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent; }
    .getStarted .text__container .btns__container .info-button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent;
      background-color: #0d4fa6; }

.footer .logo img {
  margin-bottom: 30px;
  height: 100px; }
.footer .logo p {
  color: #707070;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 14px; }
.footer .company ul li > i {
  font-size: 24px;
  color: #707070;
  margin-right: 15px;
  text-align: left; }
.footer .company a {
  text-align: left;
  color: #006cfa;
  text-decoration: none;
  font-size: 14px; }

.paymentsBanner .text__wrapper {
  color: #fff;
  width: 510px;
  text-align: left; }
  .paymentsBanner .text__wrapper .main-title p {
    font-size: 54px;
    margin-bottom: 18px;
    line-height: 70px;
    font-family: "Gilory-Bold";
    color: white; }
  .paymentsBanner .text__wrapper > p {
    margin: 18px 20px 50px 0;
    margin-bottom: 57px;
    color: white; }
.paymentsBanner .img__wrapper {
  position: relative;
  z-index: 90; }
  .paymentsBanner .img__wrapper .shop {
    position: relative;
    bottom: -27px;
    width: 100%; }
  .paymentsBanner .img__wrapper .phone {
    position: absolute;
    left: -13%;
    top: 55%;
    right: auto;
    bottom: 0;
    z-index: 5;
    width: 150px; }

.pay-features .row {
  margin: 125px auto; }
.pay-features .grey-liner {
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: 100px;
  margin-top: -60px;
  background-position: 0 0;
  background-image: url("../images/grey-liner.svg");
  z-index: 1000; }
.pay-features .text__wrapper {
  width: 440px;
  padding: 50px 0;
  text-align: left; }
  .pay-features .text__wrapper h3 {
    font-size: 32px !important; }

.in-store .row {
  margin: 125px auto; }
.in-store .title__container {
  margin-bottom: 125px;
  text-align: center; }
  .in-store .title__container h1 {
    font-size: 54px; }
  .in-store .title__container p {
    font-size: 18px; }
  .in-store .title__container .split-divider {
    display: block;
    width: 48px;
    height: 4px;
    margin: 15px auto 60px;
    background-color: #0f76f9; }
.in-store .text__wrapper {
  text-align: left;
  padding: 50px 0;
  width: 440px; }
  .in-store .text__wrapper p:first-child {
    font-size: 18px; }
  .in-store .text__wrapper h2 {
    margin-bottom: 30px; }

.pay-overall-fs {
  padding: 100px 0; }
  .pay-overall-fs .row {
    padding: 0 30px; }
  .pay-overall-fs .img__container {
    width: 105px; }
    .pay-overall-fs .img__container img {
      width: 100%;
      height: 100%; }
  .pay-overall-fs .img__title {
    margin: 30px 0 16px;
    font-size: 24px;
    letter-spacing: -0.19px; }
  .pay-overall-fs .img__txt {
    max-width: 440px;
    font-size: 18px; }

.management, .management-lookUps .title__container, .management-manageTeam, .management-track, .management-insights, .management-integration, .managemnt-transition, .index-trust .video__container .title__container {
  margin-bottom: 125px;
  text-align: center; }
  .management h1, .management-lookUps .title__container h1, .management-manageTeam h1, .management-track h1, .management-insights h1, .management-integration h1, .managemnt-transition h1, .index-trust .video__container .title__container h1 {
    font-size: 36px !important; }
  .management p, .management-lookUps .title__container p, .management-manageTeam p, .management-track p, .management-insights p, .management-integration p, .managemnt-transition p, .index-trust .video__container .title__container p {
    font-size: 18px; }
  .management .split-divider, .management-lookUps .title__container .split-divider, .management-manageTeam .split-divider, .management-track .split-divider, .management-insights .split-divider, .management-integration .split-divider, .managemnt-transition .split-divider, .index-trust .video__container .title__container .split-divider {
    display: block;
    width: 48px;
    height: 4px;
    margin: 15px auto 60px;
    background-color: #0f76f9; }

.management-banner .text__wrapper {
  color: #fff; }

.management-fs {
  padding: 100px 0;
  background-color: #f9f9fb;
  z-index: 1; }
  .management-fs .container {
    position: relative;
    padding: 50px 0 100px; }

.management .icon__wrapper .icon__container:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out; }
.management .icon__wrapper .icon__container i {
  color: #25c286;
  font-size: 30px;
  margin-right: 10px;
  background-color: white; }
.management .text__wrapper {
  color: #fff;
  width: 510px;
  text-align: left;
  margin-bottom: 57px; }
  .management .text__wrapper .main-title h3 {
    font-size: 24px !important;
    margin-bottom: 18px;
    line-height: 24px;
    font-family: "Gilory-Middle"; }
  .management .text__wrapper > p {
    margin: 18px 20px 50px 0;
    margin-bottom: 15px; }
  .management .text__wrapper button {
    padding: 16px 32px;
    border-radius: 5px;
    background-color: #21a371;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-color: transparent; }

.management-lookUps {
  padding: 100px 0;
  overflow: visible;
  height: auto; }
  .management-lookUps .img__title {
    margin-top: 43px;
    font-size: 20px;
    font-weight: 700;
    color: black; }

.management-manageTeam {
  height: 360px;
  height: 804px;
  padding-top: 70px; }
  .management-manageTeam img {
    height: 100%; }
  .management-manageTeam .text__wrapper {
    color: #fff;
    width: 510px;
    text-align: left;
    margin-bottom: 57px; }
    .management-manageTeam .text__wrapper h3 {
      font-size: 24px !important;
      margin-bottom: 18px;
      line-height: 24px;
      font-family: "Gilory-Bold";
      color: #333; }
    .management-manageTeam .text__wrapper > p {
      margin: 18px 20px 50px 0;
      margin-bottom: 15px; }

.management-track .text__wrapper {
  color: #fff;
  width: 510px;
  text-align: left;
  margin-bottom: 57px; }
  .management-track .text__wrapper h3 {
    font-size: 24px !important;
    margin-bottom: 18px;
    line-height: 24px;
    font-family: "Gilory-Bold";
    color: #333; }
  .management-track .text__wrapper > p {
    margin: 18px 20px 50px 0;
    margin-bottom: 15px; }

.management-insights .img__title {
  margin: 30px 0 16px;
  font-size: 20px;
  letter-spacing: -0.19px;
  font-family: "Gilory-Bold"; }
.management-insights .img__text {
  max-width: 440px;
  font-size: 18px; }

.management-integration .row {
  display: flex;
  position: relative;
  margin: 50px auto 140px;
  display: flex;
  max-width: 980px; }
.management-integration .blue {
  height: 245px;
  position: relative;
  z-index: 2;
  order: 1;
  flex: 0 0 57%;
  background-color: transparent; }
  .management-integration .blue .text__wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 130px 40px 40px;
    align-items: center;
    background-color: #ebf4ff;
    text-align: left; }
    .management-integration .blue .text__wrapper p {
      color: #474f57;
      font-size: 16px;
      line-height: 26px;
      font-family: "Gilory-Medium";
      margin-right: 10px; }
.management-integration .divs {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  display: flex;
  align-items: center; }
  .management-integration .divs > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 165px;
    flex: 0 auto;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }
    .management-integration .divs > div img {
      width: 100%; }
.management-integration .flipped {
  margin-left: auto;
  padding: 40px 40px 40px 130px; }
  .management-integration .flipped .text__wrapper {
    margin-left: auto;
    padding: 40px 40px 40px 130px; }
  .management-integration .flipped .divs {
    right: auto;
    left: 0;
    z-index: 4; }

.managemnt-transition .col-md-4 {
  padding: 0 30px;
  width: 326px; }
.managemnt-transition .img__title {
  margin: 30px 0 16px;
  font-size: 20px;
  letter-spacing: -0.19px;
  font-family: "Gilory-Bold"; }
.managemnt-transition .img__text {
  max-width: 440px;
  font-size: 16px;
  font-family: "Gilory-Regular"; }
  .managemnt-transition .img__text .icon__container:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out; }
  .managemnt-transition .img__text .icon__container i {
    color: #25c286;
    font-size: 30px;
    margin-right: 10px;
    background-color: white; }

* {
  margin: 0px auto;
  box-sizing: border-box; }

@font-face {
  font-family: "Gilory-Light";
  src: url("../fonts/Gilroy-Light.ttf"); }
@font-face {
  font-family: "Gilory-Medium";
  src: url("../fonts/Gilroy-Medium.ttf"); }
@font-face {
  font-family: "Gilory-Regular";
  src: url("../fonts/Gilroy-Regular.ttf"); }
@font-face {
  font-family: "Gilory-Bold";
  src: url("../fonts/Gilroy-Bold.ttf"); }
@font-face {
  font-family: "Gilory-Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf"); }
body {
  font-family: "Gilory-Regular", sans-serif;
  font-size: 16px;
  text-align: center; }

section {
  padding: 50px 0 25px; }

h1,
h2,
h3 {
  font-family: "Gilory-Bold"; }

a {
  color: #25c286;
  font-size: 1.2rem;
  font-weight: 600; }
  a:hover {
    color: #25c286; }

p {
  color: #2c3641;
  font-size: 16px;
  line-height: 26px; }

ul li {
  list-style: none;
  margin-bottom: 5px; }

.management .title__container, .management-lookUps .title__container .title__container, .management-manageTeam .title__container, .management-track .title__container, .management-insights .title__container, .management-integration .title__container, .managemnt-transition .title__container, .index-trust .video__container .title__container .title__container {
  margin-bottom: 125px;
  text-align: center; }
  .management .title__container h1, .management-lookUps .title__container .title__container h1, .management-manageTeam .title__container h1, .management-track .title__container h1, .management-insights .title__container h1, .management-integration .title__container h1, .managemnt-transition .title__container h1, .index-trust .video__container .title__container .title__container h1 {
    font-size: 54px; }
  .management .title__container p, .management-lookUps .title__container .title__container p, .management-manageTeam .title__container p, .management-track .title__container p, .management-insights .title__container p, .management-integration .title__container p, .managemnt-transition .title__container p, .index-trust .video__container .title__container .title__container p {
    font-size: 18px; }
  .management .title__container .split-divider, .management-lookUps .title__container .title__container .split-divider, .management-manageTeam .title__container .split-divider, .management-track .title__container .split-divider, .management-insights .title__container .split-divider, .management-integration .title__container .split-divider, .managemnt-transition .title__container .split-divider, .index-trust .video__container .title__container .title__container .split-divider {
    display: block;
    width: 48px;
    height: 4px;
    margin: 15px auto 60px;
    background-color: #0f76f9; }

p {
  font-size: 18px;
  font-family: "Gilory-Medium"; }

.indexBanner {
  height: 850px;
  color: #fff; }
  .indexBanner .text__wrapper {
    text-align: left; }
    .indexBanner .text__wrapper .main-title h1 {
      font-size: 54px;
      margin-bottom: 18px; }
    .indexBanner .text__wrapper .main-button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent; }
    .indexBanner .text__wrapper .info-button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent;
      background-color: #0d4fa6;
      margin-left: 10px; }

.index-trust .liner {
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: 100px;
  margin-top: -60px;
  background-position: 0 0;
  background-image: url("../images/grey-liner.svg");
  z-index: 1000; }
.index-trust .video__container .index-rate {
  margin-bottom: 40px; }
  .index-trust .video__container .index-rate .index-rate-stars i {
    color: #ffbc00;
    font-size: 24px; }
  .index-trust .video__container .index-rate p {
    color: rgba(44, 54, 65, 0.45);
    font-size: 18px; }
.index-trust .video__container .index-slider {
  background-color: cadetblue;
  width: 750px;
  height: 438px; }
  .index-trust .video__container .index-slider #shop-carousel {
    margin: 0 -125px !important; }
  .index-trust .video__container .index-slider .carousel-control-prev-icon,
  .index-trust .video__container .index-slider .carousel-control-next-icon {
    background-color: cadetblue; }
  .index-trust .video__container .index-slider .carousel-item {
    height: 350px; }
  .index-trust .video__container .index-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px; }
  .index-trust .video__container .index-slider .carousel-indicators {
    bottom: -50px; }

.index-features {
  padding-top: 100px;
  text-align: left; }
  .index-features .content__wrapper {
    margin: 50px auto 125px; }
    .index-features .content__wrapper .f-text__container {
      padding: 30px 0; }
      .index-features .content__wrapper .f-text__container p:first-child {
        margin-bottom: 12px;
        color: rgba(51, 51, 51, 0.74);
        font-size: 18px; }
      .index-features .content__wrapper .f-text__container h2 {
        margin-bottom: 16px;
        color: #2c3641;
        font-size: 32px; }
      .index-features .content__wrapper .f-text__container p:last-child {
        color: #474f57;
        font-size: 16px;
        font-weight: 500; }
      .index-features .content__wrapper .f-text__container a {
        font-size: 16px;
        font-family: "Gilory-Light"; }
  .index-features .cw-last {
    height: 310px; }
    .index-features .cw-last .f-img__container {
      height: 310px;
      margin-left: 60px; }
      .index-features .cw-last .f-img__container img {
        height: 100%; }

.index-more-featurs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2e5ef7; }
  .index-more-featurs .more-featurs__container .row .text__container {
    padding: 100px 0;
    text-align: left; }
    .index-more-featurs .more-featurs__container .row .text__container button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent;
      margin-left: 30px; }
    .index-more-featurs .more-featurs__container .row .text__container h2 {
      color: #fff;
      font-size: 36px;
      line-height: 41px;
      margin-bottom: 20px; }
    .index-more-featurs .more-featurs__container .row .text__container p {
      color: #fff;
      font-size: 16px;
      font-family: "Gilory-Medium";
      width: 90%;
      margin-left: 0; }
    .index-more-featurs .more-featurs__container .row .text__container .btns__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 30px 0 50px; }
      .index-more-featurs .more-featurs__container .row .text__container .btns__container .one__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 38px;
        margin-right: 25px;
        padding: 5px 15px 5px 5px;
        align-items: center;
        border-radius: 100px;
        background-color: #f0f2f5;
        color: #526069;
        font-size: 16px;
        font-family: "Gilory-Bold";
        line-height: 17px;
        text-decoration: none; }
        .index-more-featurs .more-featurs__container .row .text__container .btns__container .one__container .icon__container img {
          width: 28px;
          height: 28px;
          margin-right: 5px; }
  .index-more-featurs .more-featurs__container .row .more-features-img img {
    width: 100%;
    margin-top: 65px; }

.index-crafted .title__container .split-divider {
  display: block;
  width: 48px;
  height: 4px;
  margin: 15px auto 60px;
  background-color: #0f76f9; }
.index-crafted .title__container .cards .m-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
  max-width: 48%;
  margin-right: 7.5px;
  margin-bottom: 15px;
  margin-left: 7.5px;
  padding: 30px 10px 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #76838f;
  line-height: 26px;
  text-decoration: none; }
  .index-crafted .title__container .cards .m-card .txt {
    position: relative;
    clear: none;
    color: #006cfa;
    font-size: 20px;
    font-family: "Gilory-Bold";
    letter-spacing: 0; }

.maintainanceForMoms {
  background-position: 0 0, 50% 26%;
  background-size: auto, cover;
  background-image: url("../images/big_mom-bg.jpg"), linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460b43cbc8e86a_mom-bg.jpg");
  background-repeat: repeat, no-repeat;
  padding: 25px 0 80px;
  height: 528px; }
  .maintainanceForMoms .mom__container {
    font-size: 16px;
    width: 96%;
    height: 80%;
    color: #fff; }
    .maintainanceForMoms .mom__container .mom-banner {
      background-image: url("../images/moms.svg");
      width: 100%;
      margin-top: 15px;
      background-color: cyan; }
    .maintainanceForMoms .mom__container .text__container {
      margin-top: 15px;
      font-size: 16px; }
      .maintainanceForMoms .mom__container .text__container button {
        padding: 16px 32px;
        border-radius: 5px;
        background-color: #21a371;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-color: transparent;
        margin-top: 30px;
        background-color: #25c286; }

body {
  background-color: #f0f2f5; }

.vertical-split {
  margin: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(119, 132, 140, 0.33); }

p {
  color: rgba(44, 54, 65, 0.8);
  font-size: 14px; }

.main-header {
  background: linear-gradient(135deg, #4c46f4, #0081fa), linear-gradient(90deg, #4669f4, #469af4); }

.pricing {
  padding-top: 30px;
  background-image: url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460bdc88c8e868_main-img2.png"), linear-gradient(135deg, #4c46f4, #0081fa), linear-gradient(90deg, #4669f4, #469af4);
  height: 1540px; }
  .pricing .container .pricing-text {
    height: 70px;
    text-align: center;
    font-size: 54px;
    color: #fff;
    line-height: 70px; }
  .pricing .container .pricing_cards {
    background-color: #fff;
    text-align: center;
    height: 905px; }
    .pricing .container .pricing_cards .pCards__container {
      height: 905px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; }
      .pricing .container .pricing_cards .pCards__container .pCard {
        padding: 50px 30px;
        box-shadow: 1px 0 25px 5px rgba(40, 43, 49, 0.12);
        text-align: center;
        border-left: 1px solid transparent; }
        .pricing .container .pricing_cards .pCards__container .pCard .pCard-body h2 {
          font-size: 54px;
          color: #006cfa;
          line-height: 70px;
          font-weight: 600;
          padding-top: 30px;
          margin-bottom: 8px; }
        .pricing .container .pricing_cards .pCards__container .pCard .pCard-body .pCard-text {
          height: 490px;
          padding: 0 30px;
          margin-bottom: 50px; }
        .pricing .container .pricing_cards .pCards__container .pCard .pCard-body .card-text-bottom {
          height: 280px; }
          .pricing .container .pricing_cards .pCards__container .pCard .pCard-body .card-text-bottom button {
            margin-top: 20px;
            padding: 16px 32px;
            border-radius: 5px;
            background-color: #21a371;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-color: transparent; }

.enterprisePricing {
  margin-top: 30px; }
  .enterprisePricing p {
    color: #fff;
    font-family: "Gilory-Regular"; }
  .enterprisePricing .enterprisePricing__container {
    width: 100%;
    height: 194px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    color: #0f76f9; }
    .enterprisePricing .enterprisePricing__container .enterprise-dark-text {
      background-image: url("../images/enterprise-back.png");
      background-color: transparent;
      padding: 16px 30px 64px 40px;
      background-size: cover;
      color: #fff;
      background-position: 50% 50%;
      width: 30%;
      text-align: left;
      z-index: 2; }
    .enterprisePricing .enterprisePricing__container .features {
      width: 60%;
      height: 100%;
      column-count: 2;
      padding: 50px 20px;
      background-color: #fff;
      text-align: left; }
      .enterprisePricing .enterprisePricing__container .features ul > li {
        color: rgba(44, 54, 65, 0.8);
        font-size: 16px;
        font-family: "Gilory-Bold"; }
    .enterprisePricing .enterprisePricing__container .lets-talk {
      width: 30%; }
      .enterprisePricing .enterprisePricing__container .lets-talk .lets-talk__container {
        border-left: 1px solid #333;
        padding: 30px 50px 16px 100px;
        margin: 34px 0 26px;
        font-size: 24px; }
        .enterprisePricing .enterprisePricing__container .lets-talk .lets-talk__container button {
          padding: 16px 32px;
          border-radius: 5px;
          background-color: #21a371;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          border-color: transparent; }

.questions {
  height: max-content;
  background-color: #fff;
  color: #333;
  padding: 130px 0; }
  .questions input[type="checkbox"] {
    display: none; }
  .questions .questions-text {
    text-align: center;
    background-color: #fff;
    margin-bottom: 40px; }
    .questions .questions-text h1 {
      font-size: 36px;
      line-height: 48px;
      color: #2c3641;
      font-family: "Gilory-Bold"; }
  .questions .container {
    text-align: left;
    padding: 0px;
    font-family: "Gilory-Bold";
    font-size: 18px; }
    .questions .container .faq-drawer {
      margin-bottom: 30px;
      background-color: seashell; }
      .questions .container .faq-drawer .faq-drawer__title {
        border-bottom: #000 1px solid;
        cursor: pointer;
        display: block;
        padding: 10px 0;
        position: relative;
        transition: all 0.25s ease-out; }
        .questions .container .faq-drawer .faq-drawer__title::after {
          border-style: solid;
          border-width: 3px 3px 0 0;
          content: " ";
          float: right;
          left: -2px;
          position: relative;
          right: 20px;
          top: 2px;
          transform: rotate(135deg);
          transition: 0.35s ease-in-out;
          vertical-align: top;
          color: #636161;
          height: 13px;
          width: 13px; }
      .questions .container .faq-drawer .faq-drawer__content-wrapper {
        font-size: 1.25em;
        line-height: 1.4em;
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out; }
        .questions .container .faq-drawer .faq-drawer__content-wrapper .faq-drawer__content p {
          font-family: "Gilory-Regular";
          font-size: 18px;
          color: #757373; }
      .questions .container .faq-drawer .faq-drawer__trigger:checked + .faq-drawer__title + .faq-drawer__content-wrapper {
        max-height: 350px; }
      .questions .container .faq-drawer .faq-drawer__trigger:checked + .faq-drawer__title::after {
        transform: rotate(-45deg);
        transition: 0.25s ease-in-out; }

.spin {
  height: 489px;
  background-image: linear-gradient(135deg, #4c46f4, #006cfa);
  color: #fff;
  margin-bottom: 50px; }
  .spin .spin__container {
    width: 500px;
    text-align: center;
    padding: 128px 0; }
    .spin .spin__container h5, .spin .spin__container button {
      margin-bottom: 40px; }
    .spin .spin__container button {
      padding: 16px 32px;
      border-radius: 5px;
      background-color: #21a371;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-color: transparent; }
    .spin .spin__container a {
      text-decoration: underline;
      color: #fff; }

@media only screen and (max-width: 600px) {
  .container {
    padding: 80px; } }

/*# sourceMappingURL=style.css.map */
