@import "./abstracts/mixins";
@import "./includes/nav";
@import "./includes/main-banner";
@import "./includes/moms";
@import "./includes/get-quickly";
@import "./includes/getStarted";
@import "./includes/footer";
@import "./pages/payments";
@import "./pages/shop-management";
@import "./pages/about";
@import "./abstracts/mixins", "./pages/index";
@import "./pages/pricing";
@import "./pages/test";
