@import "./abstracts/mixins";
@import "./includes/nav";
@import "./includes/main-banner";
@import "./includes/get-quickly";
@import "./includes/getStarted";
@import "./includes/footer";
@import "./pages/payments";
@import "./pages/shop-management";
