.index-page {
  p {
    font-size: 18px;
    font-family: "Gilory-Medium";
  }
  .main-shop-header {
    height: auto;
    .indexBanner {
      color: #fff;
      position: relative;
      .text__wrapper {
        text-align: left;
        margin-top: 0;
        p {
          color: #fff;
        }
        .main-title {
          h1 {
            font-size: 54px;
            margin-bottom: 18px;
          }
        }
        .btns__container {
          margin-top: 70px;
          .main-button {
            @include main-button;
          }

          .info-button {
            @include main-button;
            @include info-button;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .index-trust {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    height: auto;
    max-width: none;
    margin-top: -60px;
    padding-top: 88px;
    background-color: transparent;
    .basic-liner {
      @include basic-liner;
    }
    .video__container {
      position: relative;
      .index-rate {
        text-align: center;
        margin-bottom: 40px;
        .index-rate-stars {
          i {
            color: #ffbc00;
            font-size: 24px;
          }
        }
        p {
          color: rgba(44, 54, 65, 0.45);
          font-size: 18px;
        }
      }
      .title__container {
        @extend %title__container;
      }
      .index-slider {
        background-color: cadetblue;
        width: 750px;
        height: 438px;
        #shop-carousel {
          margin: 0 -125px !important;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          background-color: cadetblue;
        }
        .carousel-item {
          height: 350px;
        }
        .carousel-indicators li {
          width: 10px;
          height: 10px;
          border-radius: 100%;
          margin: 10px;
        }
        .carousel-indicators {
          bottom: -50px;
        }
      }
    }
  }
  .index-features {
    padding-top: 100px;
    text-align: left;
    .content__wrapper {
      margin: 50px auto 125px;
      .f-text__container {
        padding: 30px 0;
        p:first-child {
          margin-bottom: 12px;
          color: rgba(51, 51, 51, 0.74);
          font-size: 18px;
        }
        h2 {
          margin-bottom: 16px;
          color: #2c3641;
          font-size: 32px;
        }
        p:last-child {
          color: #474f57;
          font-size: 16px;
          font-weight: 500;
        }
        a {
          font-size: 16px;
          font-family: "Gilory-Light";
        }
      }
    }
    .cw-last {
      height: 310px;
      .f-img__container {
        height: 310px;
        margin-left: 60px;

        img {
          height: 100%;
        }
      }
    }
  }
  .index-more-featurs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2e5ef7;

    .more-featurs__container .row {
      .text__container {
        padding: 100px 0;
        text-align: left;
        button {
          @include main-button;
          margin-left: 30px;
        }
        h2 {
          color: #fff;
          font-size: 36px;
          line-height: 41px;
          margin-bottom: 20px;
        }
        p {
          color: #fff;
          font-size: 16px;
          font-family: "Gilory-Medium";
          width: 90%;
          margin-left: 0;
        }
        .btns__container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 30px 0 50px;
          .one__container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 38px;
            margin-right: 25px;
            padding: 5px 15px 5px 5px;
            align-items: center;
            border-radius: 100px;
            background-color: #f0f2f5;
            color: #526069;
            font-size: 16px;
            font-family: "Gilory-Bold";
            line-height: 17px;
            text-decoration: none;
            .icon__container img {
              width: 28px;
              height: 28px;
              margin-right: 5px;
            }
          }
        }
      }
      .more-features-img img {
        width: 100%;
        margin-top: 65px;
      }
    }
  }
  .index-crafted {
    .title__container {
      .split-divider {
        @include split-divider;
      }
      .cards {
        .m-card {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          max-height: 100px;
          margin-right: 7.5px;
          margin-bottom: 15px;
          margin-left: 7.5px;
          padding: 30px 10px 25px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
          -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
          color: #76838f;
          background-color: cornflowerblue;
          .txt {
            position: relative;
            clear: none;
            color: #006cfa;
            font-size: 20px;
            font-family: "Gilory-Bold";
            letter-spacing: 0;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .index-features .content__wrapper {
      width: 100%;
      padding: 0 25px;
      h2 {
        margin-bottom: 16px;
      }
      p {
        max-width: 440px;
      }
      .f-img__container {
        width: 375px;
        height: 260px;
        margin: 30px -50px;
        img {
          width: 100%;
        }
      }
      .f-text__container {
        width: 354px;
      }
    }
    .index-more-featurs {
      .text__container {
        display: block;
        h2 {
          font-size: 35px;
        }
        .btns__container {
          height: auto;
          .one__container {
            margin: 10px 0 0;
          }
        }
      }
      .more-features-img {
        margin-top: 80px;
      }
    }
  }
}
