p {
  font-size: 18px;
  font-family: "Gilory-Medium";
}
.indexBanner {
  height: 850px;
  color: #fff;

  .text__wrapper {
    text-align: left;
    .main-title {
      h1 {
        font-size: 54px;
        margin-bottom: 18px;
      }
    }
    .main-button {
      @include main-button;
    }

    .info-button {
      @include main-button;
      @include info-button;
      margin-left: 10px;
    }
  }
}
.index-trust {
  .liner {
    @include grey-liner;
  }
  .video__container {
    .index-rate {
      margin-bottom: 40px;
      .index-rate-stars {
        i {
          color: #ffbc00;
          font-size: 24px;
        }
      }
      p {
        color: rgba(44, 54, 65, 0.45);
        font-size: 18px;
      }
    }
    .title__container {
      @extend %title__container;
    }
    .index-slider {
      background-color: cadetblue;
      width: 750px;
      height: 438px;
      #shop-carousel {
        margin: 0 -125px !important;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: cadetblue;
      }
      .carousel-item {
        height: 350px;
      }
      .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin: 10px;
      }
      .carousel-indicators {
        bottom: -50px;
      }
    }
  }
}
.index-features {
  padding-top: 100px;
  text-align: left;
  .content__wrapper {
    margin: 50px auto 125px;
    .f-text__container {
      padding: 30px 0;
      p:first-child {
        margin-bottom: 12px;
        color: rgba(51, 51, 51, 0.74);
        font-size: 18px;
      }
      h2 {
        margin-bottom: 16px;
        color: #2c3641;
        font-size: 32px;
      }
      p:last-child {
        color: #474f57;
        font-size: 16px;
        font-weight: 500;
      }
      a {
        font-size: 16px;
        font-family: "Gilory-Light";
      }
    }
  }
  .cw-last {
    height: 310px;
    .f-img__container {
      height: 310px;
      margin-left: 60px;

      img {
        height: 100%;
      }
    }
  }
}
.index-more-featurs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2e5ef7;

  .more-featurs__container .row {
    .text__container {
      padding: 100px 0;
      text-align: left;
      button {
        @include main-button;
        margin-left: 30px;
      }
      h2 {
        color: #fff;
        font-size: 36px;
        line-height: 41px;
        margin-bottom: 20px;
      }
      p {
        color: #fff;
        font-size: 16px;
        font-family: "Gilory-Medium";
        width: 90%;
        margin-left: 0;
      }
      .btns__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 30px 0 50px;
        .one__container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          height: 38px;
          margin-right: 25px;
          padding: 5px 15px 5px 5px;
          align-items: center;
          border-radius: 100px;
          background-color: #f0f2f5;
          color: #526069;
          font-size: 16px;
          font-family: "Gilory-Bold";
          line-height: 17px;
          text-decoration: none;
          .icon__container img {
            width: 28px;
            height: 28px;
            margin-right: 5px;
          }
        }
      }
    }
    .more-features-img img {
      width: 100%;
      margin-top: 65px;
    }
  }
}
.index-crafted {
  .title__container {
    .split-divider {
      @include split-divider;
    }
    .cards {
      .m-card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-height: 100px;
        max-width: 48%;
        margin-right: 7.5px;
        margin-bottom: 15px;
        margin-left: 7.5px;
        padding: 30px 10px 25px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        color: #76838f;
        line-height: 26px;
        text-decoration: none;
        .txt {
          position: relative;
          clear: none;
          color: #006cfa;
          font-size: 20px;
          font-family: "Gilory-Bold";
          letter-spacing: 0;
        }
      }
    }
  }
}
.maintainanceForMoms {
  background-position: 0 0, 50% 26%;
  background-size: auto, cover;
  background-image: url("../images/big_mom-bg.jpg"),
    linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460b43cbc8e86a_mom-bg.jpg");
  background-repeat: repeat, no-repeat;
  padding: 25px 0 80px;
  height: 528px;
  .mom__container {
    font-size: 16px;
    width: 96%;
    height: 80%;
    color: #fff;
    .mom-banner {
      background-image: url("../images/moms.svg");
      width: 100%;
      margin-top: 15px;
      background-color: cyan;
    }
    .text__container {
      margin-top: 15px;
      font-size: 16px;
      button {
        @include main-button;
        margin-top: 30px;
        background-color: #25c286;
      }
    }
  }
}
