.payments-page {
  // Banner
  .main-header {
    position: relative;
    bottom: auto;
    z-index: 0;
    overflow: hidden;
    height: 750px;
    min-height: 750px;
    padding-bottom: 0;
    background-image: linear-gradient(135deg, #4c46f4, #0081fa);
    .paymentsBanner {
      padding-top: 100px;
      .text__wrapper {
        color: #fff;
        width: 510px;
        text-align: left;
        .main-title {
          p {
            font-size: 54px;
            margin-bottom: 18px;
            line-height: 70px;
            font-family: "Gilory-Bold";
            color: white;
          }
        }
        & > p {
          margin: 18px 20px 50px 0;
          margin-bottom: 57px;
          color: white;
        }
      }
      .img__wrapper {
        position: relative;
        z-index: 10;
        .shop {
          position: relative;
          bottom: -27px;
          width: 100%;
        }
        .phone {
          position: absolute;
          left: -13%;
          top: 55%;
          right: auto;
          bottom: 0;
          z-index: 5;
          width: 150px;
        }
      }
    }
  }

  .pay-features {
    overflow: hidden;
    height: auto;
    // max-width: none;
    padding-top: 88px;
    background-color: transparent;
    margin-top: -88px;
    .row {
      margin: 125px auto;
    }
    .grey-liner {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      z-index: 0;
      height: 618px;
      background-image: url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460b3aafc8e86b_grey%20line.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .text__wrapper {
      width: 440px;
      padding: 50px 0;
      text-align: left;
      h3 {
        font-size: 32px !important;
      }
      @include see-how-it-works;
    }
  }

  .in-store {
    .row {
      margin: 125px auto;
    }
    .title__container {
      margin-bottom: 125px;
      text-align: center;
      h1 {
        font-size: 54px;
      }
      p {
        font-size: 18px;
      }
      .split-divider {
        @include split-divider;
      }
    }
    .text__wrapper {
      text-align: left;
      padding: 50px 0;
      width: 440px;
      & p:first-child {
        font-size: 18px;
      }
      h2 {
        margin-bottom: 30px;
      }
    }
  }
  .pay-overall-fs {
    padding: 100px 0;
    .row {
      padding: 0 30px;
    }
    .img__container {
      width: 105px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .img__title {
      margin: 30px 0 16px;
      font-size: 24px;
      letter-spacing: -0.19px;
    }
    .img__txt {
      max-width: 440px;
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 768px) {
  .payments-page {
    .main-header {
      .paymentsBanner {
        padding-top: 0;
        .text__wrapper {
          width: 100%;
          padding: 0;
          p {
            font-size: 16px;
          }
          .main-title p {
            font-size: 44px;
          }
        }
      }
    }
    .pay-features {
      margin-top: -62px;
      .container {
        padding-top: 0;
        .row {
          flex-wrap: nowrap !important;
          .text__wrapper {
            width: 50%;
          }
          .img {
            img {
              height: 60%;
              margin-top: 40px;
            }
          }
        }
      }
    }
    .in-store {
      padding: 0;
      margin: 0;
      .title__container .container .row {
        flex-wrap: nowrap;
        .text__wrapper {
          width: 50%;
        }
        .img__wrapper {
          img {
            height: 60%;
            margin-top: 40px;
          }
        }
      }
    }
    .pay-overall-fs {
      .img__container {
        width: 40%;
      }
      .img__title {
        h3 {
          font-size: 20px !important;
        }
      }
      .img__txt {
        font-size: 16px;
      }
    }
  }
  .main-banner {
    background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  }
}
@media screen and (max-width: 576px) {
  .payments-page {
    .main-header {
      .paymentsBanner {
        padding-top: 0;
        .text__wrapper {
          // width: 100%;
          padding: 0;
          // p {
          //   font-size: 16px;
          // }
          .main-title p {
            font-size: 32px;
          }
        }
        .img__wrapper {
          width: 80%;
          .phone {
            left: 2%;
            top: 50%;
            width: 103px;
          }
        }
      }
    }
    .pay-features {
      // margin-top: -62px;
      .container {
        // padding-top: 0;
        .row {
          flex-direction: column;
          .text__wrapper {
            order: 2;
            text-align: center;
            width: 95% !important;
            padding: 0;
            h3 {
              font-size: 24px;
            }
          }
          .img {
            order: 1;
            width: 90%;
          }
        }
      }
    }
    .in-store {
      padding: 0;
      margin: 0;
      .title__container {
        h1 {
          font-size: 30px !important;
        }
        h5 {
          font-size: 16px;
        }
      }
      .container {
        .row {
          flex-direction: column !important;
          .text__wrapper {
            order: 2;
            width: 90% !important;
            padding: 0px;
            text-align: center;
            h2 {
              width: max-content;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
    .pay-overall-fs {
      .container .row {
        .img__container {
          width: 15%;
        }
        .img__title {
          h3 {
            font-size: 18px !important;
          }
        }
        .img__txt {
          font-size: 14px;
        }
      }
    }
  }
  //
  // }
  .main-banner {
    background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  }
}
