.shop-management-page {
  %title__container {
    margin-bottom: 125px;
    text-align: center;
    h1 {
      font-size: 36px !important;
    }
    p {
      font-size: 18px;
    }
    .split-divider {
      @include split-divider;
    }
  }
  .main-header {
    padding-top: 50px;
    position: relative;
    overflow: visible;
    z-index: 0;
    .management-banner {
      .text__wrapper {
        text-align: center;
        h1 {
          font-size: 54px;
        }
        color: #fff;
        p {
          color: #fff;
        }
      }
    }
  }

  .management-fs {
    padding: 100px 0;
    background-color: #f9f9fb;
    z-index: 0;
    position: relative;
    overflow: visible;
    height: auto;
    .container {
      position: relative;
      padding: 50px 0 100px;
    }
    .grey-liner {
      @include grey-liner;
    }
  }

  .management {
    @extend %title__container;
    .icon__wrapper {
      @include see-how-it-works;
    }
    .text__wrapper {
      color: #fff;
      width: 510px;
      text-align: left;
      margin-bottom: 57px;
      .main-title {
        h3 {
          font-size: 24px !important;
          margin-bottom: 18px;
          line-height: 24px;
          font-family: "Gilory-Middle";
        }
      }
      & > p {
        margin: 18px 20px 50px 0;
        margin-bottom: 15px;
      }
      button {
        @include main-button;
      }
      @include see-how-it-works;
    }
  }
  .management-getPaid {
    z-index: 0;
    overflow: visible;
  }
  .management-lookUps {
    padding: 100px 0;
    // background-color: #0081fa;
    overflow: visible;
    height: auto;
    z-index: 0;
    .title__container {
      @extend %title__container;
    }
    .img__title {
      @include img__title;
    }
  }
  .management-manageTeam {
    @extend %title__container;
    @include big__img__container;
    height: 804px;
    padding-top: 70px;
    .text__wrapper {
      color: #fff;
      width: 510px;
      text-align: left;
      margin-bottom: 57px;

      h3 {
        font-size: 24px !important;
        margin-bottom: 18px;
        line-height: 24px;
        font-family: "Gilory-Bold";
        color: #333;
      }

      & > p {
        margin: 18px 20px 50px 0;
        margin-bottom: 15px;
      }
    }
  }
  .management-track {
    @extend %title__container;
    .text__wrapper {
      color: #fff;
      width: 510px;
      text-align: left;
      margin-bottom: 57px;

      h3 {
        font-size: 24px !important;
        margin-bottom: 18px;
        line-height: 24px;
        font-family: "Gilory-Bold";
        color: #333;
      }

      & > p {
        margin: 18px 20px 50px 0;
        margin-bottom: 15px;
      }
    }
  }
  .management-insights {
    @extend %title__container;
    .img__title {
      margin: 30px 0 16px;
      font-size: 20px;
      letter-spacing: -0.19px;
      font-family: "Gilory-Bold";
    }
    .img__text {
      max-width: 440px;
      font-size: 18px;
    }
  }
  .management-integration {
    @extend %title__container;
    .row {
      display: flex;
      position: relative;
      margin: 50px auto 140px;
      display: flex;
      max-width: 980px;
    }
    .blue {
      height: 245px;
      position: relative;
      z-index: 2;
      order: 1;
      flex: 0 0 57%;
      background-color: transparent;
      .text__wrapper {
        width: 100%;
        height: 100%;
        padding: 40px 30px 40px 40px;
        align-items: center;
        background-color: #ebf4ff;
        text-align: left;
        p {
          color: #474f57;
          font-size: 16px;
          line-height: 26px;
          font-family: "Gilory-Medium";
          margin-right: 10px;
        }
      }
    }
    .divs {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: auto;
      display: flex;
      align-items: center;
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 244px;
        height: 165px;
        flex: 0 auto;
        background-color: #fff;
        margin-right: 10px;
        margin-left: 10px;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
        img {
          width: 100%;
        }
      }
    }
    .flipped {
      margin-left: auto;
      padding: 40px 40px 40px 130px;
      .text__wrapper {
        margin-left: auto;
        padding: 40px 40px 40px 130px;
      }
      .divs {
        right: auto;
        left: 0;
        z-index: 4;
      }
      .last {
        .first,
        .second {
          img {
            width: 66%;
          }
        }
      }
    }
  }
  .managemnt-transition {
    @extend %title__container;
    .col-md-4 {
      padding: 0 30px;
      width: 326px;
    }
    .img__title {
      margin: 30px 0 16px;
      font-size: 20px;
      letter-spacing: -0.19px;
      font-family: "Gilory-Bold";
    }
    .img__text {
      max-width: 440px;
      font-size: 16px;
      font-family: "Gilory-Regular";
      @include see-how-it-works;
    }
  }

  @media only screen and (max-width: 768px) {
    // .main-header {
    //   padding: 0;
    // }
  }
}
