.footer {
  .logo {
    img {
      margin-bottom: 30px;
      height: 100px;
    }
    p {
      color: #707070;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      font-size: 14px;
    }
  }
  .company {
    ul li > i {
      font-size: 24px;
      color: #707070;
      margin-right: 15px;
      text-align: left;
    }
    a {
      text-align: left;
      color: #006cfa;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
