.footer {
  padding: 0;
  height: 50px;
  .logo {
    img {
      margin-bottom: 30px;
      width: 100%;
    }
    p {
      color: #707070;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      font-size: 14px;
    }
  }
  .company {
    li > i {
      font-size: 24px;
      color: #707070;
      margin-right: 15px;
      text-align: left;
    }
  }
}
