.getStarted {
  background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  margin-bottom: 150px;
  height: 360px;
  padding: 100px 0;
  .text__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 138px;
    text-align: left;
    .logo {
      .logo-text {
        display: inline-block;
        padding: 30px 20px;
        color: #fff;
        & p:last-child {
          color: #c2deff;
        }
      }
      img {
        height: 100%;
        margin-bottom: 40px;
      }
    }
    .btns__container {
      .main-button {
        @include main-button;
      }
      .info-button {
        @include main-button;
        @include info-button;
      }
    }
  }
}
