/* Get Started */
.get-quickly {
  background-image: linear-gradient(135deg, #4c46f4, #0081fa);
  margin-bottom: 150px;
  // height: 498px;
  padding: 125px 0;
  .text__container {
    text-align: center;
    div {
      padding: 30px 20px;
      color: #fff;
      h2 {
        font-size: 36px;
      }
    }
    .main-button {
      @include main-button;
      margin: 36px auto;
    }
    p:last-child {
      color: #c2deff;
      a {
        color: #c2deff;
      }
    }
  }
}
