.main-banner {
  width: 100%;
  position: relative;
  display: block;
  overflow: visible;
  min-height: 550px;
  background-image: url("../images/hieve.png"),
    linear-gradient(135deg, #4c46f4, #0081fa),
    linear-gradient(90deg, #4669f4, #469af4);
  background-position: 74% 73%, 0 0, 0 0;
  background-size: 327px, auto, auto;
  background-repeat: no-repeat, repeat, repeat;
  .text__wrapper {
    margin-top: 160px;
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
  .text__wrapper {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .main-banner {
    width: 100%;
    .text__wrapper h1,
    .text__wrapper p,
    .btns__container {
      text-align: center;
    }
    .text__wrapper .btns__container {
      .main-button {
        @include main-button;
        padding: 16px 20px;
        background-color: chocolate;
      }
    }
  }
}
