.main-header {
  position: relative;
  z-index: 0;
  background: linear-gradient(135deg, #4c46f4, #0081fa),
    linear-gradient(90deg, #4669f4, #469af4);
  height: auto;
  .nav-trigger__wrapper {
    position: fixed;
    top: 0;
    z-index: 100;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    width: 100%;
    nav {
      padding: 20px 0;
      display: flex;
      color: black;
      .links__container {
        margin-right: 50px;
        .nav-link {
          margin-left: 15px;
          padding: 13px;
          color: #fff;
          border-bottom: 4px solid transparent;
        }
        .bottomed:hover {
          border-bottom: 4px solid #fff;
        }
        .dropdown-menu {
          .dropdown-item {
            &:active .activated {
              background-color: #fff;
            }
            i {
              margin: auto 10px auto 2px;
            }
            .fa-th-large {
              color: #4669f4;
            }
            .fa-dollar-sign {
              color: lightgreen;
            }
          }
        }
      }
      .navbar-brand {
        margin-left: 50px;
      }
      .main-button {
        @include main-button;
        margin-top: 4px;
      }
    }
  }
}

.scroll-down .nav-trigger__wrapper {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  .main-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    .nav-trigger__wrapper {
      background-color: #fff;
      transform: none;
      z-index: 20;
      .links__container {
        .nav-link {
          color: black;
        }
        .main-button {
          color: #fff;
        }
      }
    }
  }
}
@media all and (min-width: 992px) {
  .navbar {
    .nav-item {
      .dropdown-menu {
        display: none;
        margin-top: 0;
      }
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}
