$white: #fff;
$blue: #4c46f4;

%nav-scrolled {
  .whiteNav {
    background: $white;
    color: black;
  }
}
%whiteLogo {
  background-image: url("../images/logo.svg");
}
%darkLogo {
  background-image: url("../images/logo-dark.svg");
}
nav {
  background-color: cyan !important;
  color: $white;
  width: 100%;
  .nav-trigger {
    background-color: brown;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .links__container {
      background-color: gray;
      right: 0;
    }
    .navbar-brand {
      float: left;
    }
  }
}
