// GENERAL RULES
* {
  margin: 0px auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilory-Light";
  src: url("../fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilory-Medium";
  src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilory-Regular";
  src: url("../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilory-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilory-Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf");
}

body {
  font-family: "Gilory-Regular", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
section {
  padding: 50px 0 25px;
}
h1,
h2,
h3 {
  font-family: "Gilory-Bold";
}
a {
  color: #25c286;
  font-size: 1.2rem;
  font-weight: 600;
  &:hover {
    color: #25c286;
  }
}
p {
  color: #474f57;
  font-size: 16px;
  line-height: 26px;
  font-family: "Gilory-Medium";
}

ul li {
  list-style: none;
  margin-bottom: 5px;
}
//   MIXINS
@mixin main-button {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #21a371;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-color: transparent;
}

@mixin info-button {
  background-color: #0d4fa6;
}

@mixin split-divider {
  display: block;
  width: 48px;
  height: 4px;
  margin: 15px auto 60px;
  background-color: #0f76f9;
}

@mixin basic-liner {
  position: absolute;
  background-image: url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460b3aafc8e86b_grey%20line.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
  height: 618px;
}

@mixin grey-liner {
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  // z-index: 10;
  height: 100px;
  margin-top: -60px;
  background-position: 0 0;
  background-image: url("../images/grey-liner.svg");
  z-index: 1000;
}

@mixin blue-liner {
  width: 100%;
  height: 147px;
  margin-bottom: 0;
  background-image: url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460b3e7cc8e870_blue%20line%20top.svg");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin blue-liner-bottom {
  display: block;
  width: 102%;
  height: 121px;
  margin-top: -20px;
  margin-left: -1%;
  background-image: url("https://uploads-ssl.webflow.com/5c4b6a813b460bd9bdc8e84f/5c4b6a813b460bd44ec8e873_blue%20line%20bot.svg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin white-inv-liner {
  position: absolute;
  left: -1%;
  right: -1%;
  bottom: -15px;
  display: inline-block;
  width: 101%;
  max-width: none;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-image: url("../images/white-inv-liner.svg");
}
@mixin big__img__container {
  height: 360px;
  img {
    height: 100%;
  }
}

@mixin img__container {
  height: 66px;
  width: 70px;
  img {
    height: 100%;
  }
}
@mixin img__title {
  margin-top: 43px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

%title__container {
  .title__container {
    margin-bottom: 125px;
    text-align: center;
    h1 {
      font-size: 54px;
    }
    p {
      font-size: 18px;
    }
    .split-divider {
      @include split-divider;
    }
  }
}

@mixin see-how-it-works {
  .icon__container {
    &:hover {
      opacity: 0.5;
      transition: 0.5s ease-in-out;
    }
    i {
      color: #25c286;
      font-size: 30px;
      margin-right: 10px;
      background-color: white;
    }
  }
}
